name: Prefect Agent on GCE
on:
  workflow_dispatch:
jobs:
  prefect_agent:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - id: anna
        uses: anna-geller/prefect-gcp@v0.4
        with:
          prefect_api_key: ${{ secrets.PREFECT_API_KEY }}
          prefect_api_url: ${{ secrets.PREFECT_API_URL }}
          gcp_sa_email: ${{ secrets.GCP_SA_EMAIL }}
          gcp_credentials_json: ${{ secrets.GCP_CREDENTIALS }}
          gcp_project_id: "prefect-community"
